*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*index*/
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
header {
    width: 100%;
    max-height: 160px;
    background: #000;
    height: 160px;
    padding-top: 2em;
}
h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
}
.topmobile nav {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.topmobile a {
    color: white;
    padding: .5em 1em;
}
.topmobile li {
    color: white;
    padding: .5em 0em;
}
.topmobile ul {
    display: flex;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.banner, .banner21, .banner3 {
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner21 {
    background-image: url(../img/banner2.jpg);
    margin: 1.5em 0;
}
.banner3 {
    background-image: url(../img/banner3.jpg);
    margin: 1.5em 0;
}
.banner h3, .banner2 h3, .banner3 h3 {
    background-color: rgba(27, 27, 27, .3);
    padding: .7em 1em;
}
.sobre h3, .eventos h3, .contato h3 {
    width: 90px;
    padding-bottom: .8em;
    margin-bottom: .8em;
    border-bottom: 1px solid #272727;
}
.sobre, .eventos, .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.contato {
    margin: 1em 0;
}
.contato h3 {
    width: auto;
    padding: 0 .8em 0 .8em;
    padding-bottom: .8em;
}
.descritivo {
    width: 80%;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}
.descritivo h3 {
    font-weight: lighter;
}
.descritivo p {
    padding: 0 1em;
    font-size: .9em;
    width: 60%;
}
.descritivo div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgsobre img {
    width: 60px;
    height: 60px;
    padding-bottom: .2em;
}
.infoevento {
    height: 500px;
}
.infoevento h5 {
    font-weight: lighter;
    font-size: 1.4em;
    padding: .3em 0;
    text-align: center;
}
.infoevento li{
    padding: .3em 0;
}
.imgevento {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.imgevento h4 {
    width: 100%;
    font-weight: lighter;
    font-size: 1.2em;
    padding: .8em;
    text-align: center;
    color: white;
    background-color: rgba(27, 27, 27, .3);
}
.evento {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.evento a {
    margin-top: 2em;
    padding: .4em 2.5em;
    color: #000;
    border: solid 1px #000;
}
.imgevento {
    height: 300px;
    width: 300px;
    background-image: url(../img/banner1.jpg);
}
.outra {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #157DEB;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 2em 0;
}
.outras li {
    padding: .5em 0;
}
.outras li a, .outras h4 {
    color: white;
    font-size: .9em;
    padding: .5em;
}
.outras h4 {
    color: #000;
}
.sociais img {
    width: 50px;
    padding: 0 1em;
}
.sociais {
    background-color: #157DEB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
footer p {
    padding: .5em;
    text-align: center;
    background: linear-gradient(#3D01FF, #157DEB);
}
.forms input {
    margin: .2em auto;
}
.forms input, textarea {
    width: 300px;
    padding: .2em;
    
}
.forms button {
    padding: .5em 2em;
    background-color: #fff;
    border: 1px solid #272727;
}

/*fim da index*/
/*mobile cadastro*/
header {
    width: 100%;
    max-height: 160px;
    background: #000;
    height: 160px;
    padding-top: 2em;
}
h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
}
.topmobile nav {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.topmobile a {
    color: white;
    padding: .5em 1em;
}
.topmobile li {
    color: white;
    padding: .5em 0em;
}
.topmobile ul {
    display: flex;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.bannersurfgi{
    width: 100px;
    height: 100px;
}
main{
    width: 100%;
}
.botao{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 12px;
    margin: 2em 2px;
    width: 15em;
   display: flex;
   justify-content: center;
    height: 50px;
    border-radius: 20px;
    border: black;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5)
}
.cadastroadm{
    margin-top: 11em;
    display: flex;
    width: 23em;
    margin: 10em 20px;
}
.cadastroadm h2{
    font-size: 20px;
    text-align: center;
    background-color:white;
    color: black;
    width: 700px;
    margin: -57px auto;
}
.form_adm{
    height:500px;
    margin: 32px 10px;
    padding: 30px;
    background-color: #84ADFF;
    margin: auto;
}
.form_adm .escrita{
    display: flex;
    justify-content: center;
    align-items: center;
}
.esporte{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.data{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.escrita{
    display: flex;
    margin: 20px 10px;
 /* background-image: url(../img/banner2.jpg);*/
    background-size: cover;
    background-position: center;
}
.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .nome{
    padding: 40px 0;
    margin: auto;
}
input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;

}
input [type="date"]{
    text-align: center;

}
.data input{
    background-color: white;
}
input[type="date"]{
    text-align: center;
}
input{
    width: 300px;
}
::placeholder{
    color: black;
    padding: 10px;
}
select{
    border-radius: 10px;
    background-color: white;
    height: 35px;
}
.botao_cadastro{
    color: white;
    text-decoration: none;
    padding: 15px 12px;
    margin: 2em 2px;
    width: 15em;
    display: flex;
   justify-content: center;
    height:20px;
    border-radius: 20px;
    border: black;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content:end ;
}


.bannerpratique{
  margin: 40px 0;
}
.bannerpratique p{
    position: relative;
    left: 10px;
    top: -50px;
    font-size: 20px;
    color: white;
    background-color: rgba(27, 27, 27, 0.3) ;
    width: 200px;
}
.form_event{
    margin: 50px;
    width: 327px;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    height: 560px;
    padding: 25px;
    align-items: center;
    margin: auto;
    background-color: #84ADFF;

}
.digitado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.evento .botao_cadastro{
    margin: auto;
    position: relative;
    top: -15px;
    right: 10px;
}
label{
    color: black  gray;
    position: relative;
    right: 10px;
    font-size: 15px;
}
.botao_evento{
    color: black;
    text-decoration: none;
    padding: 15px 12px;
    width: 15em;
    margin: 25px;
    left: 30px;
    height: 50px;
    border-radius: 20px;
    background-color: whitegit ;
    border: black;
    box-shadow: 0px 6px 10px black;
}
.outra {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #157DEB;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 2em 0;
}
.outras li {
    padding: .5em 0;
}
.outras li a, .outras h4 {
    color: white;
    font-size: .9em;
    padding: .5em;
}
.outras h4 {
    color: #000;
}
.sociais img {
    width: 50px;
    padding: 0 1em;
}
.sociais {
    background-color: #157DEB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
footer p {
    padding: .5em;
    text-align: center;
    background: linear-gradient(#3D01FF, #157DEB);
}
/*versão em tablet*/
@media screen and (min-width: 769px){
    .form_adm{
        min-width: 600px;
        margin-top: auto;
    }
    .form_event{
        min-width: 600px;
        margin-top: auto;
    }
    .botao_evento {
        position: relative;
        left: 200px;
    }
    .botao{
        position: relative;
        left: 200px;
    }
}
