*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.topmobile nav {
    display: flex;
    flex-direction: column;
    
}

.infoevento {
    display: none;
}
.imgevento {
    height: 300px;
    width: 300px;
    background-image: url(../img/banner1.jpg);
}
ul,li{
    list-style: none;
    
}

header {
    width: 100%;
    max-height: 160px;
    background: #000;
    height: 160px;
    padding-top: 2em;
}
h1 {
    color: rgb(126, 123, 123);
    text-align: center;
    font-weight: lighter;

}
.planost{
    padding: 10px 30px;
}
.topmobile nav {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.topmobile a {
    color: white;
    padding: .5em 1em;
}
.topmobile li {
    color: white;
    padding: .5em 0em;
}
.topmobile ul {
    display: flex;
    margin: 0 auto;
}

a {
    text-decoration: none;
    list-style-type: none;
}
.Banner{
    width: 100%;
}

.propaganda{
    width: 190px;
    border-radius: 50%;
    height: 190px;
    position: relative;
    margin-left: 113px;
    margin-top: 5%;
}
.Plano1 {
    background-color: black;
    color: white;
}
.texto{
    align-items: center;
    position: absolute;
    margin-top: 50px;
    padding-left: 130px;
    
}
.associar{
    background-color:#53a7fc;
    color:white;
    margin:60px 120px;
    border-radius: 30px;
    padding-bottom: 18px;
    height:15px;
    width: 140px;
}
.p{
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 25px
}
h2,h3{
    text-align: center;
}

.valor{
    margin-left: 180px;
}
.outra {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #157DEB;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 2em 0;
}
.outras li {
    padding: .5em 0;
}
.outras li a, .outras h4 {
    color: white;
    font-size: .9em;
    padding: .5em;
}
.outras h4 {
    color: #000;
}
.sociais img {
    width: 50px;
    padding: 0 1em;
}
.sociais {
    background-color: #157DEB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
footer p {
    padding: .5em;
    text-align: center;
    background: linear-gradient(#3D01FF, #157DEB);
}

/* Fim responsividade 425px */

@media (min-width:426px){
    .valor{
        margin-left: 5px;
    }
    .associar{
    }

}

@media (min-width:769px){
    .texto{
        padding:70px 290px;
        color:gray;
    }
    .planost{
        padding:0px 80px;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    .banner{
    width: 100%;
    }
    .noticia{
        display: flex;
    }
    .valor{
        margin-left: 45px;
    }
    .preco{
        margin-top: 130px;
        margin-left: 110px;
    }
    .parkour{
        width: 100%;
    }
    .Plano1{
        height: 530px;
    }
    .associar{
        align-items: center;
        margin-left: 300px;
        padding: 15px 5px

    }
@media (min-width:1201px){
    .propaganda{
    width:250px;
    }
    .planost{
    padding:0px 150px;
    margin-bottom: 15px;
    margin-top: 25px;
    }
    .noticia{
      display: flex;
    }
    .valor ,.h3{
        margin-top: 120px;
    }
    .Plano1{
        height:600px;

    }
    h1{
        margin-left: 225px;
    }
    .logo{
        margin-left: 15px;
    }
    .topmobile{
        display: flex;
    }
    .preco{
        margin-left: 300px;
    }
    .a{
        justify-content: space-evenly;
        display: flex;
    }
    .associar{
        margin-left:530px;
    }